name: Rust CI

on:
  push:
    branches: '*'
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
      - '.vscode/**'
  pull_request:
    branches: '*'
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
      - '.vscode/**'

jobs:
  build:
    name: Cargo Test, Clippy and Format
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          # Unsetting this would make so that any malicious package could get our Github Token
          persist-credentials: false
      - run: cargo fmt --check
      - run: cargo test --test normalizer
      # - run: cargo test --all
      # - run: cargo test --all
      #   env:
      #     RPL_PATS: docs/patterns-pest
      - run: cargo clippy -- -D warnings
      - run: cargo install --path .
      - run: cargo rpl --workspace --all-targets
      # - uses: actions-rust-lang/audit@v1.2.4
