name: Rust CI

on:
  push:
    branches: [ dev, pest ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
      - '.vscode/**'
  pull_request:
    branches: [ master, pest ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
      - '.vscode/**'

jobs:
  build:
    name: Cargo Test, Clippy and Format
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: cargo fmt --check
      - run: cargo test --all
      - run: cargo clippy -- -D warnings
      - run: cargo install --path .
      - run: cargo rpl --workspace --all-targets
        env:
          RPL_PATS: docs/pattens-pest
      # - uses: actions-rust-lang/audit@v1.2.4
